parameters:

    paths:
        - src
        - Drivers

    excludePaths:
        - Drivers/laravel-sms-gateway-ghasedak/tests
        - Drivers/laravel-sms-gateway-ippanel/tests
        - Drivers/laravel-sms-gateway-kavenegar/tests
        - Drivers/laravel-sms-gateway-magfa/tests
        - Drivers/laravel-sms-gateway-melipayamak/tests
        - Drivers/laravel-sms-gateway-messagebird/tests
        - Drivers/laravel-sms-gateway-plivo/tests
        - Drivers/laravel-sms-gateway-smsir/tests
        - Drivers/laravel-sms-gateway-sunway/tests
        - Drivers/laravel-sms-gateway-textlocal/tests
        - Drivers/laravel-sms-gateway-twilio/tests
        - Drivers/laravel-sms-gateway-vonage/tests

    configDirectories:
        - config
        - Drivers/*/config

    level: 10
