<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <directory>Drivers/*/tests/Feature</directory>
            <directory>Drivers/*/tests/Registration</directory>
        </testsuite>
        <testsuite name="Architecture">
            <file>tests/ArchTest.php</file>
            <directory suffix="ArchTest.php">Drivers</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/Contracts</directory>
            <directory suffix=".php">src/Drivers</directory>
            <directory suffix=".php">src/Events</directory>
            <directory suffix=".php">src/Facades</directory>
            <directory suffix=".php">src/Providers</directory>
            <file>src/SmsGatewayManager.php</file>
            <directory suffix=".php">Drivers/laravel-sms-gateway-ghasedak/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-ippanel/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-kavenegar/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-magfa/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-melipayamak/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-messagebird/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-plivo/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-smsir/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-sunway/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-textlocal/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-twilio/src</directory>
            <directory suffix=".php">Drivers/laravel-sms-gateway-vonage/src</directory>
        </include>
    </source>

    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
